{% extends "base.html" %} {% block title %}Pokeland{% endblock %}     
{% block content %}
<div class="card mb-3" style="width: 30rem;">
    <img src="https://pa1.narvii.com/6131/12c3523946057ffaed39b9f95223cc8006207ba2_hq.gif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Algum erro inesperado aconteceu</h5>
      <p class="card-text">Nao encontramos este pokemon no pokedex</p>
      <a href="/" class="btn btn-dark">Find another pokemon</a>
    </div>
  </div>
{% endblock %} 