{% extends "base.html" %} {% block title %}Pokeland{% endblock %}     
{% block content %}
<div class="card mb-3" style="width: 30rem;">
    <img src={{sprite}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{pokeName}}</h5>
      <p class="card-text">{{pokemonDescription}}</p>
      <div class="mb-2">
          {% for type in pokeType %}
          {% if loop.index == pokeType|length %}
            {{type}}
          {% else %}
            {{type}} and
          {% endif %}
          {% endfor %}
       <!-- {{pokeType}} -->
      </div>
        <div class="mb-3">
		    {% for evolution in evolutionLine %}
				{% set evolutions = evolution.split("/") %}
                {% for evolve in evolutions %}
                    {% if evolution != pokeName %}
                    <a href="/pokeland/{{evolve}}">
                        <img class="w-25 h-25" src="/pokemonImage/{{evolve}}">
                    </a>								
                    {% endif %}
                {% endfor %}
            {% endfor %}
				
        </div>
      <a href="/" class="btn btn-dark">Find another pokemon</a>
    </div>
  </div>
{% endblock %}